.Container{
    height: 30vh;
    background-color: #fcf5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Title{
    font-size: 70px;
    margin-bottom: 20px;

}
.Description{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}